/*reset*/

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 150%;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*Font*/

body {
    margin: 0;
}

html {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: #383643;

}


h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 110%;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.2;

}

h3 {
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0px;


}

h4 {
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    font-family: "poppins";
    font-weight: 700;
    line-height: 130%;
}

p {
    font-size: 1rem;
    letter-spacing: 1%;
    font-weight: normal;

}

.light {
    font-weight: lighter;
}
.bold {
    font-weight: bolder;
}

.normal {
    font-weight: normal;
}

.italic {
    font-style: italic;
}

.logo {
    font-family: "Poppins";
    font-weight: medium;
    font-size: 1.5rem;
    letter-spacing: -0.09375rem;
    min-width: 3.75rem;
    cursor: pointer;
    transition: none;

}


a {
    color: #383643;
    cursor: pointer;

}

nav a:hover {
    color: #000000;
    text-decoration: underline #383643;
    transition: 800ms ease-in 500ms;
}


li {
    font-size: 1rem;
    font: 'Helvetica';
    margin-bottom: 0.5rem;
    display: list-item;
    list-style-position: inside;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    padding-left: 4px;

}

/*Homepage*/
/*Header*/


header {
    height: 1.625rem;
    margin: 3.75rem auto 3.75rem auto;
    max-width: 58rem;
    align-items: center;
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;

}

nav li {
    box-sizing: border-box;
    padding: 0 1rem;
    display: inline-block;

}

.logo {
    margin-right: auto;
}




/*Main*/

.main {
    display: flex;
    max-width: 58rem;
    padding: 1.25rem auto 1.25rem auto;
    box-sizing: border-box;
    margin: 2.5rem auto 4.75rem auto;
    border: inherit;

}

/*Projects*/


.project {
    margin: 3.5rem auto 2.5rem auto;
    max-width: 58rem;
    display: flex;
    transition: all 800ms ease-in-out;
}

.project a {

    cursor: pointer;
}

.title {
    flex: 2;
    flex-grow: 1;
    flex-shrink: 1;
    display: inline-block;
    padding-bottom: auto;

}

.bold {
    margin-top: 0;

}

.image {
    display: block;
    flex: 1;
    margin-left: auto;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    max-height: 382px;
    max-width: 608px;
    align-content: flex-start;


}

.image:hover {
    transform: scale(1.0.25);
    transition: 400ms ease-in-out;

}

.title a h2, h5, h6 {
    cursor: pointer;

}

.project:hover h2, .project:hover p {
    color: #177C82;
    transition: 400ms ease-in-out;

}

.company {
    font-size: 0.85rem;
    font-family: "Poppins";
    font-weight: bold;
    margin-top: 1.5rem;
    letter-spacing: 3%;
}


.date {
    font-size: 0.9rem;
    font-family: "Poppins";
    font-weight: 100;
    color: #828282;
    margin: 1rem auto 0 auto;
    padding-bottom: auto;
    letter-spacing: 1%;

}


/*Spark Page*/

/*Header*/


.project-title {
    display: flex;
    margin: 3.5rem auto 1.5rem auto;
    max-width: 58rem;
    align-items: center;
}

/*Overview*/


.overview-image {
    display: flex;
    margin: 0 auto 0 auto;
}

.summary {
    display: flex;
    margin: 20px auto 100px auto;
    background-color: white;
    align-items: flex-start;
    justify-content: center;

}

.section {
    display: inline-block;
    padding: 2rem 1rem;
    width: 18rem;

}


.section-title {
    padding-bottom: 0.5rem;
    margin: 0rem;
    line-height: 1.25rem;
}

.section-text {
    font-size: 0.875rem;
    line-height: 150%;

}

/*Main Content*/


.text {
    display: flex;
    max-width: 58rem;
    margin: 1.5rem auto 1.5rem auto;
    justify-content: flex-end;
    align-items: baseline;

}

.phase {
    display: block;
    width: 100%;
    margin: 1rem auto 1rem 0;
    width: 28rem;


}

.phase-title {
    margin-bottom: 0.75rem;

}

.role-process {
    display: block;
    box-sizing: border-box;
    margin-right: 5rem;
}

p.my-role, p.process {
    margin-bottom: 0.25rem;
    font-size: 0.6rem;
}

.my-role li, .process li {
    font-weight: "light";
    color: #4F4F4F;


}

.process {
    margin-top: 2rem;
    margin-bottom: 0.25rem;
}

.my-role {
    margin-bottom: 0.25rem;

}

.right-section {
    margin: 2rem 0;
}

.image-description {
    display: flex;
    max-width: 58rem;
    margin: 0.2rem auto 0 auto;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 300;
    justify-content: flex-start;
    line-height: 110%;
}

.contextual-image {
    display: block;
    max-width: 58rem;
    margin: 0 auto 0 auto;
}

.two-images {
    display: flex;
    max-width: 58rem;
    justify-content: flex-start;
    margin: 0 auto 0 auto;

}

/*footer*/


footer {
    height: 1.625rem;
    margin: 15rem auto 2.5rem auto;
    max-width: 58rem;
    align-items: center;
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;

}

footer li {
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    color: #383643;
    box-sizing: border-box;
    padding: 0 1rem 0 0;
    display: inline-block;
    
}


.copyright {
    box-sizing: border-box;
    margin-left: auto;
    padding: 0 0rem;
    display: block;
    color: #BDBDBD;
    font-size: 0.85rem;
    font-family: 'poppins';
    font-weight: lighter;
    
}


/*Responsive design*/


@media only screen and (max-width:965px) {

/*Homepage*/

/*Spark*/

.phase,  .project-title {
    margin-left: 1rem;
}

.right-section, header, nav li {
    margin: 0 1rem 0 1rem;
}

.text, .process {
    margin: 1rem 0;
}

header {
    margin-top: 2rem;
}

footer li, .copyright {
    padding: 0 1rem;

}